#edit-project-form {
  border: 2px solid black;
  min-height: 30rem;
}

.info-edit-col {
  border: 2px solid black;
}

.input-edit-col {
  border: 2px solid black;
  width: 100%;
}

/* .pst-head-cell {
  width: 15rem;
}

.pst-body-cell {
  display: flex;
  justify-content: space-between;
  width: 20rem;
} */