.manageable-card {
  border: 2px solid #212529;
  border-radius: 15px;
  height: 8rem;
  width: 13rem;
}

.manageable-card:hover {
  border: 2px solid white;
  background-color: #212529;
  color: white;
  border-radius: 15px;
  height: 8rem;
  width: 13rem;
  transition: 0.1s;
}

.manageable-card-image-container {
  align-items: center;
  height: 60%;
  display: flex;
  justify-content: center;
}

.manageable-card-title-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.manageable-card-image-container svg{
  height: 80%;
  width: 80%;
}

.manageable-card-title-container h6{
  position: relative;
  top: 0.75rem;
}