.manageable-card {
  border: 2px solid #212529;
  border-radius: 15px;
  height: 8rem;
  width: 11rem;
  padding: 1.5rem;
  transition: 0.1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.manageable-card:hover {
  border: 2px solid transparent;
  background-color: #212529;
  color: white;
}

.manageable-card-image-container {
  align-items: center;
  height: 60%;
  display: flex;
  justify-content: center;
}

.manageable-card-title-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.manageable-card-image-container svg{
  height: 80%;
  width: 80%;
}

.manageable-card-title-container h6{
  position: relative;
  top: 0.75rem;
}