#project-list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#project-table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 75vw;
}

#project-table-container table {
  font-weight: 700;
  text-align: center;
  width: 100%;
}

#project-table-container table a{
  color: #212529;
  font-size: 1.4rem;
  margin: 0 0.5rem;
}

#project-table-container table tbody tr {
  border-bottom: 2px solid black;
  height: 6.5rem;
}

#project-table-container table tbody tr:hover {
  background-color: #f2f2f2;
}

#project-table-container table tbody tr td{
  padding: 0.3rem;
}

#project-table-container table tbody img {
  max-width: 150px;
}

#project-table-container table thead {
  background-color: #212529;
  color: white;
  height: 4rem;
}
