#message-card {
  background-color: #a6d96a;
  height: 100%;
  width: 75vw;
  padding: 1rem;
}

#message-card .message-content {
  align-items: center;
  color: #212529;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
}

.message-icon {
  font-size: 2.5rem !important;
}
